.container {
	margin: 0 auto;
}

.onekiri{
	background-color:rgb(233, 201, 159);
}

.onekanan{
	background-color: beige;
}

.datadiri{
	background-color: rgb(233, 201, 159);
}

.datapen{
	background-color: rgb(233, 201, 159);
}

img {
	border-radius: 50%;
	margin-top: auto;
	display:block;
	max-width: 150px;
}

table{
	margin : 0 auto;
}


p {
	font-size: 15px;
	margin-top: auto;
}
