.container {
	margin: 0 auto;
}

h2 {
	text-align: center;
}

.onekiri{
	background-color: beige;
}

.onekanan{
	background-color: rgb(252, 252, 252);
}

.two{
	background-color: beige;
	text-align: center;
	text : bold;
}

img {
	border-radius: 50%;
	margin-top: auto;
	display: block;
	height: 140px;
	width: 100px;
	max-width: 200px;
}

table{
	margin : 0 auto;
}


p {
	font-size: 15px;
	margin-top: auto;
}
